<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit User</title>
  <link rel="stylesheet" href="/static/app.css">
</head>

<body>
  <h1>Edit User</h2>
    <form method="POST">
      <input type="text" name="first_name" required value="{{user.first_name}}">
      <input type="text" name="last_name" required value="{{user.last_name}}">
      <input type="text" name="image_url" value="{{user.image_url}}">
      <button>Cancel</button>
      <button>Save</button>
    </form>

    <div class="return_link">
      <a href="/users">Go To Main</a>
    </div>
</body>

</html>