{% extends 'base.html' %}

{% block title %}
{{user.get_full_name}}
{% endblock %}


{% block content %}



  <div >
    <img class="col-md-1" src="{{user.image_url}}" alt="">
  </div>

  <div class="user_details">
    <h1>{{user.get_full_name()}}</h1>

    <form>
      <button formaction="/users/{{user.id}}/edit" formmethod="GET">Edit</button>
      <button formaction="{{user.id}}/delete" formmethod="POST">Delete</button>
      
      <button formaction="/users/{{user.id}}/posts/new" formmethod="GET">Add Post</button>
    </form>

    <h2>Posts</h2>
    <!-- list of posts by user should go here -->
    <ul class="user_posts">
      {% for post in user.posts %}
      <li>
        <a href="/posts/{{post.id}}">{{post.title}}</a>
        <small>{{post.created_at}}</small>
      </li>
      {% endfor %}
    </ul>
    
  </div>


{% endblock %}